<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sweeper.Properties.Settings>
            <setting name="MoveUsingsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveAndSortUsingsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormatDocumentEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveMultipleBlankLinesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortElementsWithinClassEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockSpacingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommentSpacing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunStyleCopEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunStyleCopRescanAllEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunGhostDocEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCopyrightEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddAccessModifiersEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Sweeper.Properties.Settings>
    </userSettings>
</configuration>